@import 'tailwindcss';
@plugin "daisyui";
@theme {
}
@custom-variant dark (&:where(.dark, .dark *));

:root {
	font-size: 16px;
}
html {
	height: auto;
	scroll-behavior: smooth;
	width: 100%;
}
html,
body {
	min-width: 320px;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main,
#root {
	flex-grow: 1;
	width: 100%;
	min-width: 320px;
	display: flex;
	flex-direction: column;
}
/* @use "./App.scss"; */
