@import 'tailwindcss';
@plugin "daisyui" {
	theme: light, dark;
	--base-content: black;
}
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));

:root {
	font-size: 16px;
}
html {
	height: auto;
	scroll-behavior: smooth;
	width: 100%;
}
html,
body {
	min-width: 320px;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main,
#root {
	flex-grow: 1;
	width: 100%;
	min-width: 320px;
	display: flex;
	flex-direction: column;
}
/* @use "./App.scss"; */

.react-resizable {
	position: relative;
}

.react-resizable-handle {
	position: absolute;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-origin: content-box;
	box-sizing: border-box;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgNiA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8bGluZSB4MT0iNiIgeTE9IjAiIHgyPSIwIiB5Mj0iNiIgc3Ryb2tlPSIjYWFhIiBzdHJva2Utd2lkdGg9IjEiLz4KPC9zdmc+');
	background-position: bottom right;
	padding: 0 3px 3px 0;
}

.react-resizable-handle-se {
	bottom: 0;
	right: 0;
	cursor: se-resize;
}

/* React Grid Layout styles */
.react-grid-layout {
	position: relative;
}
.react-grid-item {
	transition: all 200ms ease;
	transition-property: left, top;
}
.react-grid-item.cssTransforms {
	transition-property: transform;
}

.react-grid-item.react-grid-placeholder {
	background: oklch(0.704 0.04 256.788);
	opacity: 0.2;
	transition-duration: 100ms;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	border-radius: 8px;
}
.react-grid-item.react-draggable-dragging {
	transition: none;
	z-index: 3;
	will-change: transform;
}
.react-grid-item.dropping {
	visibility: hidden;
}
